<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">good morning julia</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="#">gg ez</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">yeezy</a>
      </li>
    </ul>
  </div>
</nav>


<div class="area">
  <button type="button" class="btn btn-primary" (click)="getNum()">click me to display a number</button>
  <p>{{num}}</p>
  <br>
  <button type="button" class="btn btn-primary" (click)="getWord()">click me to display a word</button>
  <p>{{word}}</p>
  <br>
  <button type="button" class="btn btn-primary" (click)="getList()">click me to display a list</button>
  <br>
  <ul *ngIf="list.length > 0">
    <li *ngFor="let l of list">
      {{l}}
    </li>
  </ul>
</div>

